<div class="muted-overlay"></div>
<img src="{{ 'logo_landing_white.png' | asset_url }}" />
<div class="social-nav hide-medium-down">
  <a href="https://www.instagram.com/pierceandward/"><i class="fa fa-instagram fa-fw fa-lg" aria-hidden="true"></i></a>
  <a href="https://www.pinterest.com/pierceandwardinteriors/"><i class="fa fa-pinterest-p fa-fw fa-lg" aria-hidden="true"></i></a>
  <a href="mailto:inquiries@pierceandward.com"><i class="fa fa-envelope-o fa-fw fa-lg" aria-hidden="true"></i></a>
</div>
