<!-- /templates/page_about.liquid -->
{% section 'about-hero-image' %}

<div class="wrapper">
	<div class="about-page-title title-main">
		<h2>The Tale of Pierce &amp; Ward</h2>
	</div>

	{% section 'about-text' %}

	<div class="about-page-title title-clients">
		<h2>Clients of Note</h2>
	</div>

	{% section 'about-clients' %}
</div>