<!-- /templates/page_about.liquid -->
{% section 'about-hero-image' %}

<div class="wrapper">
	<div class="about-page-title title-main">
		<h2>The Tale of Pierce &amp; Ward</h2>
		<hr class="short-hr center-hr">
	</div>

	{% section 'about-text' %}

	<hr class="full-hr">
	<div class="about-page-title title-clients">
		<h2>Clients of Note</h2>
		<hr class="short-hr">
	</div>

	{% section 'about-clients' %}

	<div class="about-footer">
		{% section 'about-quote' %}
	</div>
</div>